@mixin opacitychange($opacity:0.3){
    opacity: $opacity;
    $ieopacity:$opacity*100;
    filter:alpha(opacity=$ieopacity);
}

#banner{
	width:100%;
	position:relative;
	.banner_img{
		height:400px;
		overflow:hidden;
		position:relative;
		.rotation_img{
			width:1920px;
			height:400px;
			position:absolute;
			left:-244px;
			top:0px;
		}
	}
	.circle{
		position: absolute;
		right:600px;
		bottom: 40px;
		.circle_li{
			float: left;
			width: 20px;
			height:20px;
			background:#fff;
			border-radius: 50%; 
			margin-right: 5px;
			cursor: pointer;
		}
	}
	#bn_left{
		visibility:hidden;
		display:inline-block;
		width: 71px;
		height: 71px;
		right: -35px;
		top: 50%;
		right:150px;
		margin-top:-35px;
		background: url(../img/but.png) -71px -71px;
		position: absolute;
	}
	#bn_right{
		visibility:hidden;
		display:inline-block;
		width: 71px;
		height: 71px;
		position: absolute;
		top: 50%;
		margin-top:-35px;
		left:150px;
		z-index: 2;
		background: url(../img/but.png) -71px 0px;
	}
}

#banner:hover{
	#bn_right{
		visibility:visible;
	}
	#bn_left{
		visibility:visible;

	}
}

.active{
	background:red!important;
}